@model KU.Student.Starter.UI.Models.ViewModel.InformationViewModel
@{
    ViewData["Title"] = "Information";
}


<div class="form">
    <div class="header">Issue</div>

    <div class="form-input">
        <div class="form-label">
            <label>@Model.Issue</label>
        </div>
    </div>
</div>
