@{
    ViewData["Title"] = "Home";
}

<div class="content-wrapper">
    <div class="heading"><div class="heading3">Welcome to KOLT Tutoring System</div></div>
</div>
<div class="content-wrapper">
    <div class="flex-col">
        <div class="paragraph"><div class="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a purus dolor. Nam vitae eros orci. Morbi pulvinar, lacus ac ornare sodales, nulla urna vestibulum sapien, hendrerit commodo diam risus nec urna. In hac habitasse platea dictumst. In sit amet diam eleifend, varius tortor a, blandit velit. Sed iaculis libero sit amet vehicula vulputate. Phasellus volutpat tortor risus, non consequat enim interdum convallis. Phasellus at tortor consequat, luctus sem vel, mattis metus. Nam lobortis lorem non sollicitudin imperdiet. Pellentesque ullamcorper metus nec urna sollicitudin accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eget tincidunt mauris. Donec viverra, ex eu pellentesque ornare, velit eros maximus eros, quis imperdiet dolor urna quis odio. Suspendisse faucibus, purus id tempor tincidunt, urna massa maximus libero, vitae imperdiet turpis dolor non tortor. Mauris nec diam tempor, porta nisl ut, sodales metus. Duis nec tortor at mauris sagittis auctor eu ullamcorper libero.</div></div>
        <div class="paragraph"><div class="main-text">For more information about KOLT Tutoring Center, see <a href="https://kolt.ku.edu.tr/student/tutoring-center/">KOLT Tutoring Center</a>.</div></div>
    </div>
    <div class="flex-col">
        <img src="/assets/media/images/tutoring.jpg" style="width:450px;" />
    </div>
</div>